<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"    content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Made in Trees</title>

    <link rel="shortcut icon" href="../static/images/favicon-16x16.png" th:href="@{/images/favicon-16x16.png}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" media="screen" th:href="@{/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="../static/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom" >
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"><!--<img src="../static/images/logo.png" th:src="@{/images/coconut-water.jpg}" width="50px" alt="Coco water comes Home">--></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/">Home</a></li>
                    <li class="hidden"><a href="../static/pages/about.html">About</a></li>
                    <li class="hidden"><a href="#">Contact</a></li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span sec:authentication="name"></span><b style="margin-left: 10px;" class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="/subscriber/profile">Profile</a></li>
                            <li><a href="/subscriber/subscriptions">Active Subscriptions</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()"><a class="btn" href="javascript: document.logoutForm.submit()">Logout</a></li>
                    <li sec:authorize="isAnonymous()"><a class="btn" href="/loginPage">SIGN IN / SIGN UP</a></li>
                </ul>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <div class="alert alert-info text-center" sec: th:if="${param.profileUpdate}">Your profile has been updated</div>
                <div class="alert alert-info text-center" sec: th:if="${param.emailUpdate}">Request sent to update email.</div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Your profile</h3>
                            <hr>
                            <form role="form" data-toggle="validator" id="updateForm" action="/subscriber/profileUpdate" method="post">
                                <input hidden th:value="${subscriber.email}" id="registeredEmail">
                                <div class="form-group top-margin">
                                    <label>First Name<span class="text-danger">*</span></label>
                                    <input required th:value="${subscriber.firstName}" name="firstName" data-error="Please fill this field" type="text" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group top-margin">
                                    <label>Last Name</label>
                                    <input th:value="${subscriber.lastName}" name="lastName" type="text" class="form-control">
                                </div>
                                <div class="form-group top-margin">
                                    <label>Email Address<span class="text-danger">*</span></label>
                                    <div class="alert alert-info text-center" sec: th:if="${param.emailUpdate}">Request sent to update email, confirm new email</div>
                                    <input required th:value="${subscriber.email}" name="email" id="email" data-error="Please fill this field" type="email" class="form-control"><span id="emailOk" style="display: none" class="glyphicon glyphicon-ok text-success"></span>
                                    <span id="emailRepeat" class="glyphicon glyphicon-remove text-danger" style="display: none">This email is registered already</span>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group top-margin">
                                    <label>Mobile<span class="text-danger">*</span></label>
                                    <input required th:value="${subscriber.mobile}" name="mobile" type="text" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                                  <!--<table>
                                      <tr th:each="address, rowStat : *{addresses}">
                                          <div class="row">
                                              <div class="form-group col-sm-6">
                                              <label>AddressLine1<span class="text-danger">*</span></label>
                                              <input required th:value="address.addressLine1" th:field="*{addresses[__${rowStat.index}__].addressLine1}" type="text" data-error="Please fill this field" class="form-control">
                                              <div class="help-block with-errors"></div>
                                          </div>
                                          <div class="form-group col-sm-6">
                                              <label>AddressLine2<span class="text-danger">*</span></label>
                                              <input required th:value="address.addressLine2" th:field="*{addresses[__${rowStat.index}__].addressLine2}" type="text" data-error="Please fill this field" class="form-control">
                                              <div class="help-block with-errors"></div>
                                          </div>
                                          </div>
                                          <div class="row">
                                              <div class="form-group col-sm-6">
                                              <label>City<span class="text-danger">*</span></label>
                                              <input required disabled value="Chennai" th:field="*{addresses[__${rowStat.index}__].city}" type="text" data-error="Please fill this field" class="form-control">
                                              <div class="help-block with-errors"></div>
                                          </div>
                                          <div class="form-group col-sm-6">
                                              <label>State<span class="text-danger">*</span></label>
                                              <input required disabled value="TamilNadu" th:field="*{addresses[__${rowStat.index}__].state}" type="text" data-error="Please fill this field" class="form-control">
                                              <div class="help-block with-errors"></div>
                                          </div>
                                          </div>
                                          <div class="row">
                                              <div class="form-group col-sm-6">
                                              <label>Country<span class="text-danger">*</span></label>
                                              <input required disabled value="India" th:field="*{addresses[__${rowStat.index}__].country}" type="text" data-error="Please fill this field" class="form-control">
                                              <div class="help-block with-errors"></div>
                                          </div>
                                          <div class="form-group col-sm-6">
                                              <label>PIN code<span class="text-danger">*</span></label>
                                              <input required th:field="*{addresses[__${rowStat.index}__].pincode}" type="text" data-error="Please fill this field" class="form-control">
                                              <div class="help-block with-errors"></div>
                                          </div>
                                          </div>
                                      </tr>
                                  </table>-->
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>New Password</label>
                                        <input id="password" name="password" type="password" data-error="Please fill this field" class="form-control">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Confirm New Password <span class="text-danger"></span></label>
                                        <input type="password" class="form-control" data-match="#password" data-error="Please fill this field" data-match-error="Whoops, passwords don't match">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div th:if="${subscriber.addresses != null}" class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Your addresses</label>
                                            <select data-error="Please choose/add an address" required id="deliveryAddress" data-target=".address" name="deliveryAddress.id" type="text" class="form-control div-toggle">
                                                <option th:attr="data-show=${'.'+address.id}" th:text="${'Address :'+index.count}" th:each="address,index :${subscriber.addresses}" th:value="${address.id}" name="deliveryAddress.id" ></option>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <!-- Trigger the modal with a button -->
                                        <button type="button" class="btn btn-action" data-toggle="modal" data-target="#myModal">Add new address</button>
                                    </div>
                                    <div id="chosenAddress" class="col-sm-7 address">
                                        <div th:each="address,index :${subscriber.addresses}" th:id="${'address-'+address.id}" th:class="${address.id+' hide'}">
                                            <h3 th:text="${address.addressHolderName}" style="margin-top: 0px"></h3>
                                            <p class="data" th:text="${address.addressLine1+', '+address.addressLine2+','}"></p>
                                            <p class="data" th:text="${address.city+', '+address.state+','}"></p>
                                            <p class="data" th:text="${address.country+', '+address.pincode+'.'}"></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="form-group col-lg-4 text-right">
                                        <button id="updateSubmit" class="btn btn-action" type="submit">Update</button>
                                    </div>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            </form>
                        </div>
                    </div>
                </div>
            </article> <!-- /Article -->
        </div> <!--row-->
    </div>	<!-- /container -->
    <div class="container-fluid">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add new delivery address</h4>
                    </div>
                    <div class="container-fluid media-body">
                        <form role="form" data-toggle="validator" id="addAddressForm" action="/rest/subscriberAddAddress" method="post">
                            <div class="row">
                                <div class="form-group col-sm-6 col-sm-offset-3">
                                    <label>Address holder's name<span class="text-danger">*</span></label>
                                    <input required type="text" name="addressHolderName" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>AddressLine1<span class="text-danger">*</span></label>
                                    <input required type="text" name="addressLine1" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>AddressLine2<span class="text-danger">*</span></label>
                                    <input required name="addressLine2" type="text" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>City<span class="text-danger">*</span></label>
                                    <input required disabled value="Chennai" name="city" type="text" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>State<span class="text-danger">*</span></label>
                                    <input required disabled value="TamilNadu" name="state" type="text" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Country<span class="text-danger">*</span></label>
                                    <input required disabled value="India" name="country" type="text" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>PIN code<span class="text-danger">*</span></label>
                                    <input required name="pincode" type="text" data-error="Please fill this field" class="form-control">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <button id="addressSubmit" class="btn btn-action" type="submit">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--container-fluid-->
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="../static/js/headroom.min.js" th:src="@{/js/headroom.min.js}"></script>
    <script src="../static/js/jQuery.headroom.min.js" th:src="@{/js/jQuery.headroom.min.js}"></script>
    <script src="../static/js/template.js" th:src="@{/js/template.js}"></script>
    <!--Bootstrap Validator-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#updateForm").submit(function( event ) {
                $("#updateSubmit").prop("disabled", true).addClass("disabled");
            });
            $("#email").change(function () {
                var email =$("#email").val();
                $("#emailOk").hide();
                $("#emailRepeat").hide();
                if (email != $("#registeredEmail").val()) {
                    $.ajax({
                        url: "/rest/subscriberEmailCheck",
                        type: "get", //send it through get method
                        data: {
                            email: email
                        },
                        success: function (response) {
                            $("#emailOk").show();
                        },
                        error: function (xhr) {
                            $("#emailRepeat").show();
                        }
                    });
                }
            })
            /*add address form*/
            $('#addAddressForm').submit(function(e) {
                var csrfParameter = $("meta[name='_csrf_parameter']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                var csrfToken = $("meta[name='_csrf']").attr("content");
                // reference to form object
                var form = this;
                // for stopping the default action of element
                e.preventDefault();
                // mapthat will hold form data
                var formData = {}
                //iterate over form elements
                $.each(this, function(i, v){
                    var input = $(v);
                    // populate form data as key-value pairs
                    // with the name of input as key and its value as value
                    formData[input.attr("name")] = input.val();
                });
                $.ajax({
                    contentType : 'application/json; charset=utf-8',
                    type: $(form).attr('method'), // method attribute of form
                    url: $(form).attr('action'),  // action attribute of form
                    beforeSend: function(xhr){
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    dataType : 'json',
                    // convert form data to json format
                    data : JSON.stringify(formData),
                    success: function( address ) {
                        console.log(address);
                        appendAddressInHtml(address);
                    },
                    error: function () {
                        alert("Error adding address");
                    }
                });
                $('#myModal').modal('hide');
            });
            /*Code to toggle each address the user selects*/
            $('.div-toggle').trigger('change');
        });
        $(document).on('change', '.div-toggle', function() {
            var target = $(this).data('target');
            var show = $("option:selected", this).data('show');
            $(target).children().addClass('hide');
            $(show).removeClass('hide');
        });
        function appendAddressInHtml(address) {
            $('#deliveryAddress').append($('<option>', {
                value: address.id,
                text: 'Address :'+($('#deliveryAddress option').length+1),
                name: 'deliveryAddress.id',
            }).attr('data-show','.'+address.id).attr('selected', 'selected'));
            $('#chosenAddress').append($('<div>', {
                        class: address.id+' col-sm-12 hide',
                        id: 'address-'+address.id,
                    }).append($('<h3>',{
                        text: address.addressHolderName
                    })).append($('<p>',{
                        text: address.addressLine1+', '+address.addressLine2,
                        class: 'data'
                    })).append($('<p>',{
                        text: address.city+', '+address.state,
                        class: 'data'
                    })).append($('<p>',{
                        text: address.country+', '+address.pincode,
                        class: 'data'
                    }))
            );
            $('#deliveryAddress').change();
        }
    </script>
</body>
</html>